.card {
    width: 220px;
    height: 330px;
    padding: 8px;
    border: 1px solid rgba(99, 99, 99, 0.4);
    border-radius: 4px;
    margin-bottom: 30px;
    margin-left: 20px;
    box-sizing: border-box;
}

.cardDecor {
    color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperLeft {
    top: 0;
    left: 0;
}

.bottomRight {
    bottom: 0;
    right: 0;
}

.cardDecor p {
    font-size: 1.8rem;
    min-width: 32px;
    text-align: center;
}

.card .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
