.container {
    padding: 20px;
    border-radius: 4px;
    max-width: 500px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: top 0.24s ease-in-out;
    position: relative;
}

.container button {
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}