.innerContainer {
    border-bottom: 1px solid black;
    padding: 10px 20px;
}

.innerContainer p {
    margin: 5px 0;
}

.outerContainer {
    max-width: 245px;
    display: inline-block;
    width: 100%;
    margin-right: 55px;
    border-right: 1px solid black;
    padding: 40px 20px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btnContainer.discardBtn button {
    background-color: red;
}

.btnContainer.goBackBtn button {
    background-color: blue;
}

.btnContainer button {
    color: white;
    background-color: rgb(18, 114, 5);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
    min-width: 150px;
    margin-top: 20px;
}