.container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 51px;
    min-height: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    margin: auto;
    border-radius: 20px;
    padding: 3px;
    overflow: hidden;
}

.background {
    background-color: blue;
    height: 105px;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background-color 0.24s ease-in-out;
}

.input {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    opacity: 0;
    top: 0;
    left: 0;
}

.switch {
    border-radius: 50%;
    height: 20px;
    border: 1px solid rgba(99, 99, 99, 0.4);
    width: 20px;
    position: relative;
    background-color: white;
    left: 24px;
    transition: left 0.24s ease-in-out;
    z-index: 1;
}

.input:checked ~ .switch {
    left: 0;
}

.input:checked ~ .background {
    background-color: green;
}
